<header>
    <nav>
        <img src="/logo.svg" alt="">
        <ul>
            <li><a class="<%= activeNav == '/' ? 'active' : '' %>" href="/">All</a></li>
            <li><a class="<%= activeNav == '/newArticle' ? 'active' : '' %>" href="/newArticle">New Article</a></li>
        </ul>
    </nav>
</header>